<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>neighborhood-site-service</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>neighborhood-site-service</th>
				<th>url</th>
				<th>request</th>
				<th>response</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>游客用户注册</td>
				<td>/oldneighborhood/site/list</td>
				<td>{"username":username, "password":password, "tele":tele}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
			<tr>
				<td>商业用户注册</td>
				<td>/oldneighborhood/salersignup</td>
				<td>{"username":username, "password":password, "tele":tele}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>