<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>老街坊网站 - 景点管理</title>
<!-- Bootstrap core CSS-->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom fonts for this template-->
<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet" />
<link href="css/toastr.css" rel="stylesheet" />

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navigation-->

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		id="mainNav">
		<a class="navbar-brand" href="/course">Old Neighborhood</a>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">


				<!-- Navigation - Dashboard -->

				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Course"><a class="nav-link" href="/course"> <i
						class="fa fa-fw fa-book"></i> <span class="nav-link-text">Course</span>
				</a></li>

				<!-- Navigation - Course -->


				<li class="nav-item"><a class="nav-link" data-toggle="modal"
					data-target="#exampleModal"> <i class="fa fa-fw fa-sign-out"></i>Logout
				</a></li>

				<!-- Logout -->
			</ul>
		</div>
	</nav>
	
	<div class="content-wrapper">
		<div class="container-fluid" id="sitebody">
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> 课程管理
				</div>
			</div>

			<div class="row" id="courselist">
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-primary o-hidden h-100">
						<div class="card-body" id="operatingsystem">
							<div class="card-body-icon">
								<i class="fa fa-fw fa-book"></i>
							</div>
							<div class="mr-5">计算机操作系统</div>
						</div>
						<a class="card-footer text-white clearfix small z-1"
							href="/courseDetail"> <span class="float-left">详细信息</span> <span
							class="float-right"> <i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
			</div>

			<hr />

			<div class="row" id="newsite">
				<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-primary o-hidden h-100">
						<div class="card-body">
							<div class="card-body-icon">
								<i class="fa fa-fw fa-book"></i>
							</div>
							<div class="mr-5">新增景点</div>
						</div>
						<a class="card-footer text-white clearfix small z-1"> <span class="float-left">填写信息</span> <span
							class="float-right"> <i class="fa fa-angle-right"></i>
						</span>
						</a>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>Copyright © Annoying Test 2017</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">确认退出？</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button"
							data-dismiss="modal">取消</button>
						<a class="btn btn-primary" href="/logout">登出</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="js/toastr.min.js"></script>
		<script src="js/sb-admin.min.js"></script>
		<script src="js/sitelist.js"></script>
	</div>
</body>

</html>
